body, select, input[type="text"] {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	text-align: center;
	background-color: blue;
	color:green;
	font-size: 92px;
}

input[type="text"], select, label {
	font-size: 48px;
}

input[readonly] {
	background-color: rgba(0, 0, 0, 0.2);
	font-style: italic;
}

input[type="text"] {
	text-align: center;
}

body {
	text-align: center;

}
